*,
*::before,
*::after, img, svg, a {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

nav {
    width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 64px;
}

nav h1 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    position: relative;
    cursor: pointer;
}

nav h1::before {
    content: "";
    background: white;
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: -8px;
    transition: all .1s ease-in-out;
}

nav h1:hover::before {
    width: 80%;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 8px;
}

h3 {
    color: #989898;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-wrap: balance;
}

h4 {
    color: #CCCCCC;
    margin-bottom: 16px;
    font-size: 20px;
}

h5 {
    font-size: 16px;
    font-weight: 500;
}

section {
    color: white;
    display: grid;
    gap: 16px;
    margin: 0 auto;
    max-width: 1280px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "a b b"
        "a c d"
        "a c e"
        "a c f";
    margin-bottom: 64px;
    padding: 0 20px;
}

section>div {
    /* background-color: #1A1A1A; */
    background-color: hsl(0, 0%, 8%);
    border-radius: 8px;
    padding: 32px;
    position: relative;
}

.profile {
    grid-area: a;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 212px;
}

.profile-info>div {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
}

.profile-cover {
    background: black;
    width: 100%;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 8px 8px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: clip;
}

.profile-picture {
    background: url("images/profile.png");
    width: 120px;
    height: 120px;
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    border-radius: 50%;
    margin: 0 auto;
}

.profile p {
    color: #989898;
}

.profile a {
    color: #989898;
    text-decoration: none;
    transition: all .1s ease-in-out;
}

.profile a:hover {
    color: white;
    text-decoration: underline;
}

.profile-div {
    background: #262626;
    width: 100%;
    height: 1px;
}

.contact-info>div {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: auto;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #333333; */
    background: hsl(0, 0%, 15%);
    width: 32px;
    height: 32px;
    border-radius: 16px;
    padding: 4px;
    transition: all .1s ease-in-out;
}

.social-link svg {
    fill: white;
    width: 20px;
}

.social-link:hover:nth-child(1) {
    background: #0057ff;
}

.social-link:hover:nth-child(2) {
    background: #0866FF;
}

.social-link:hover:nth-child(3) {
    background: #FF0069;
}

.social-link:hover:nth-child(4) {
    background: #004182;
}

.about {
    grid-area: b;
}

.about p {
    font-size: 14px;
    line-height: 1.75;
}

.experience {
    grid-area: c;
}

.experience>div {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
    position: relative;
}

.experience>div div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    padding-left: 24px;
}

.experience>div div::before {
    content: "";
    background: #333333;
    height: 100%;
    width: 2px;
    position: absolute;
    top: 0;
    left: 5px;
}

.experience div div h5::before {
    content: "";
    background: #808080;
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 10px;
    border: 4px solid #1A1A1A;
    margin-top: 2px;
    left: 0;
    z-index: 1;
}

.experience p,
.education p {
    color: #999999;
    font-size: 14px;
}

.education {
    grid-area: d;
}

.education div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tools {
    grid-area: e;
}

.tools div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-flow: wrap;
    gap: 8px;
}

.tools span img,
.tools span svg {
    height: 12px;
}

.tools span {
    display: flex;
    align-items: center;
    gap: 4px;
    /* background: #333333; */
    background: hsl(0, 0%, 15%);
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 16px;
    cursor: pointer;
    white-space: nowrap;
    transition: all .1s ease-in-out;
}

.skills {
    grid-area: f;
}

.skills div {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    gap: 8px;
}

.skills p {
    display: inline-block;
    /* background: #333333; */
    background: hsl(0, 0%, 15%);
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 16px;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.tools span:hover,
.skills p:hover {
    /* background: #272727; */
    background: hsl(0, 0%, 20%);
}

@media screen and (max-width: 1280px) {
    section {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "a a a b b b"
            "a a a c c c"
            "d d e e f f";
        max-width: 100%;
        padding: 0 20px;
    }
}

@media screen and (max-width: 740px) {
    section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "a a a a"
            "b b b b"
            "c c d d"
            "c c e e"
            "c c f f";
        max-width: 100%;
        padding: 0 20px;
    }
}

@media screen and (max-width: 680px) {
    section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e"
            "f";
        max-width: 100%;
    }
}
